/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 ul {
  display: flex;
  margin: 0;
  padding: 0;
 }


 header {
background-color: orange;
width: 100%; 
height: 100px;
    // position: absolute;
    // box-sizing: border-box;

  }
 

 .navbar_item {
  text-decoration: none;
  color: white;

 }

 .navbar_name {
  text-decoration: none;
  color: white;
 }
 

 .header_content {
  padding: 10px;
  // background-color: aqua;
  // display:flex;
 }

.header_content li {
  list-style: none;
  text-align: right;
 }

 .header_content ul {
  list-style: none;
  text-align: right;
 }


 li p{
  padding: 10px;
  margin: 10px;
 }

 .header_search li {
  list-style: none;
  text-align: right;
 }

 .navbar_item {
  text-align: right;
 }

 .navbar_name {
  padding: 10px;
 }

 .header_content {
  // background-color: blue;
  width: 60%;
  float: left;
 }

 .header_search {
  // background-color: aqua;
  width: 60%;
 }

 .main_content {
   clear: both;
 }


