
.index_content{
  // background-color: aquamarine;
  text-decoration: none;
}

.index {
border: solid 3px gray;
// display: flex;
display: inline-flex;
flex-wrap: wrap;
// justify-content:space-around;
// flex-flow: column;
width: 230px;
margin: 10px;
padding: 10px 0;
// background-color: aqua;
}

.index li {
  list-style: none;
  // display: list-item; 
  // display: inline-block;
  margin: 0 5px;
}

.index ul {
  display: block;
}

// .index_img {
//   margin-bottom: 0px;
// }

.index_name {
  margin: 0 5px 5px 5px;
}

.show_img {
  // padding: 10px;
  margin: 10px 80px 10px 10px;
  display: flex;
  float: left;

}


.show_room ul{
  display: block;
  float: left;
}

.show_room li {
  list-style: none;
  // display: list-item; 
  // display: inline-block;
  margin: 0 5px;
}

.reserve_room {
  background-color: peachpuff;
  float:left;
  padding: 0 0 50px 0;
}

.new_room li {
  list-style: none;
  margin: 10px 5px;
}

.new_room ul{
  display: block;
  // float: left;
}

.room_detail_field {
  width: auto;
  height: 100px;
}
